.parent {}

table>tbody>tr>td {
    text-align: left;
    padding: 0 .5em .5em .5em;
}

table>thead>tr>th {
    text-align: left;
    padding: 0 .5em .5em .5em;
}

h1 {
    font-weight: normal;
    margin: 1em;
}

h2 {
    font-weight: normal;
}

.upload-label {
    margin : 0 1em 0 0;
}

.upload-note-label {
    margin : 1em 0 0 0;
    display: block;
}

.upload-upload {
    font-size : .9em;
}

.upload-form {
    max-width: 35em;
    margin : auto;
}

.upload-button {
    padding : .5em 1em;
}

.upload-note-input {
    border-radius: .4em;
    display: block;
    width : 100%;
    height : 20em;
    margin : .5em 0 2em 0;
}

.breathe {
    margin: 1em;
}

.section {
    /*border: thin solid;*/
    border-radius: .2em;
    margin: 1em;
}


